<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <style>
        .list{
            width: 25%;
            float: left;
        }
    </style>
</head>
<body>
 
    <h1>{{ title }}</h1>
    <div class="list">
        <div>总榜</div>
        <ul>
            {% for person in cubesVTotal %}
            <li>{{ person.nickname }}  {{ person.total_gain }}</li>
            {% endfor %}
        </ul>
        
        
    </div>
    <div class="list">
        <div>月榜</div>
        <ul>
            {% for person in cubesVMonth %}
            <li>{{ person.nickname }}  {{ person.monthly_gain }}</li>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>
